@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>разработка</strong> среда отобразит более подробную информацию о возникшей ошибке.
</p>
<p>
    <strong>
        Среда разработки не должна быть включена для развернутых приложений.</сильный>
        Это может привести к отображению конфиденциальной информации от исключений для конечных пользователей.
        Для локальной отладки включите среду < strong>Development< / strong>, установив для переменной среды<strong>
            ASP NET CORE_ENVIRONMENT < /strong> значение < strong>Development< / strong>
            и перезапуск приложения
</p>
