
@{
    ViewData["Title"] = "PostBuy";
}

<!DOCTYPE html>

<html>
<head>
    <title> </title>
</head>
<body>
    <h2>Спасибо, " @*+  @${@value = @ViewBag.Text}+*@ ", за покупку! Ваш заказ принят в обработку и будет доставлен в ближайшее время </h2>

</body>
</html>

