
@{
    ViewData["Title"] = "Summary";
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Основная панель!!!</h2>
    <h1>Товары</h1>
    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="GetGoodsAlls">Показать товары в наличии</a>
        </li>
    </ul>

</body>
</html>

<h1>__**__ </h1>

