
@{
   // Layout = _Layout;

    //ViewData["Title"] = "Получение данных егаис";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация выполнена</title>
</head>
<body>
    <p>Вы успешно зарегистрировались.</p>
    <a href="/Home/Index">Вернутся на главную</a>
</body>
</html>
