
@{
    ViewData["Title"] = "Гугл таблицы";
}
<!doctype html>
<html>
<head>
    <title>Работа с гугл таблицами!!!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Основная панель Для работы сГугл таблицам клиентов!!!</h2>
    <h1>Таблицы</h1>
    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="TableGoogleInfo" asp-action="GetTablesAlls">Посмотреть гугл таблицы</a>
        </li>
    </ul>

</body>
</html>

<h3>__**__ </h3>