
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Контролер Create Calc</title>
</head>
<body>
    <h1>@ViewBag.Text</h1>

    <a href="/Home/">На главную</a>
</body>
</html>

