
@{
    ViewData["Title"] = "Получение данных егаис";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Контролер UTM</title>
</head>
<body>
    <h1>@ViewBag.Text</h1>

    <a href="/Home/">На главную</a>
    <a href="/Home/GetPci/">Добавить еще</a>
</body>
</html>

